.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: linear-gradient(
    to bottom,
    rgba(222, 44, 44, 0.9),
    rgba(34, 32, 32, 0.7)
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar-title {
  font-size: 20px;
  font-style:oblique;
  font-weight: 900;
  color: #e50914; 
  letter-spacing: 0.5px;
}

.navbar-right {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: #fff;
}

.nav-btn{
   background: transparent;
   border: none;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
  
}
.nav-btn{
  text-decoration: none;
  color: inherit;
}

.nav-btn:hover  {
  color: #e93e46;
}

.nav-btn.login{
  text-decoration: none;
  background: #e50914;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
}

.nav-btn.login:hover {
  background: #81070d;
  color: rgb(255, 255, 255);
}
