.search-container {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px solid #444;
  border-radius: 20px; 
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #e50914;
  background: #000;
  width: 350px; 
}

.search-dropdown {
  z-index: 1001; 
  border:1px solid #333;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.search-dropdown li {
  padding: 10px;
  cursor: pointer;
  color: #ddd;
}

.search-dropdown li:hover {
  background: #e50914;
  color: #fff;
}
