.signup-container{
  width: 100%;
  max-width: 450px;
  margin: 100px auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  box-sizing: border-box; /* Crucial fix for width issues */
}
.form-group{
    margin-bottom:15px;
    padding:8px;
}
.form-group label{
    display:block;
    text-align:left;
    margin-bottom:8px;
    color:var(--light);
}
.form-group input{
    width: 95%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: var(--secondary);
    color: var(--light);
}
.form-group input:focus{
    border-color:var(--primary);
    outline: none;
}
.error-text{
    color: rgb(193, 23, 23);
    margin-top: 8px;
    font-size: 0.8rem;
}

button{
    width: 95%;
    padding: 12px;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(148, 14, 14);
    color: white;
}