/* App.css */
:root {
  --main-bg: #111;
  --netflix-red: #e50914;
  --text-white: #ffffff;
}

body {
  background-color: var(--main-bg);
  color: var(--text-white);
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.home-container {
  padding: 40px 20px;
}
.content-area {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.brand-title {
  color: var(--netflix-red);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 25px;
  padding-bottom: 40px;
}

.load-more-btn {
  background-color: var(--netflix-red);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin: 30px auto;
  transition: transform 0.2s, background-color 0.2s;
}

.load-more-btn:hover {
  background-color: #ff0a16;
  transform: scale(1.05);
}

.error-msg {
  color: #ff4d4d;
  background: rgba(255, 77, 77, 0.1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.movie-card{
  background:transform 0.04s;
  cursor:pointer; 
}
.movie-card:hover{
  transform:scale(1.1);
  z-index:10;
}
@keyframes spin{
  0% {transform :rotate(0deg);}
  100% {transform :rotate(360deg);}
}