:root{
  --primary:#e50914;
  --secondary:#221f1f;
  --light:#ffffff;
  --dark:#000000;
  --gray:#808080;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:var(--secondary);
  color:var(--gray);
}
